* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    margin: 10px;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 175%;
}

section {
    position: relative;
    padding: 15%;
    width: 100%;
}

div {
    position: relative;
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.m1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: yellow;
}

.m2 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: red;
}

.m3 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: yellow;
}

.content {
    padding: 5px;
    border: none;
    font-family: helvetica;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
    clear: right;
}

/*desktop version*/
@media (min-width: 992px){
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px){
    .column-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .column-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile version*/
@media (max-width: 767px){
    .column-sm-12 {
        float: left;
        width: 100%;
    }
}
